<div class="text-center pt-3">
  <h4>Thank you! Your virtual buyer has made your purchase for you.</h4>
  <div class="pt-3">
    You will receive an order confirmation directly from each retailer.<br>
    If you have customer service questions, contact each retailer directly about your order.
  </div>
</div>
