<div class="retailers pt-3">
  <div class="row text-center mt-3">
    <% (1..6).each do |i| %>
      <div class="col-md-2 justify-content-center">
        <%= image_tag("retailers/#{i}.png", class: 'img-fluid') %>
      </div>
    <% end %>
  </div>
  <div class="row text-center mt-5">
    <% (7..12).each do |i| %>
      <div class="col-md-2 justify-content-center">
      <%= image_tag("retailers/#{i}.png", class: 'img-fluid') %>
    </div>
  <% end %>
  </div>
</div>
