<div class="row retailers text-center">
  <div class="col-md-4">
    <%= image_tag('wayfair-logo.png', class: 'retailer-logo') %>
  </div>
  <div class="col-md-4">
    <%= image_tag('houzz-logo.png', class: 'retailer-logo') %>
  </div>
  <div class="col-md-4">
    <%= image_tag('hayneedle-logo.svg', class: 'retailer-logo') %>
  </div>
</div>
