.btn {
  border-radius: 0;
}

.btn-primary {
  color: #fff;
  background-color: #CFAC64;
  border: 0;

  &:hover, &:focus {
    background-color: lighten(#CFAC64, 8%);
  }
  &:active {
    background-color: #CFAC64;
    &:focus, &:hover {
      background-color: #CFAC64;
    }
  }
}

a {
  color: #CFAC64;
  text-decoration: none;

  &:hover, &:focus {
    color: lighten(#CFAC64, 8%);
  }
}

.dropdown-item.active {
  background-color: #CFAC64;
}

.pagination {
  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    border-radius: 0;
  }

  .page-item {
    .page-link {
      color: #CFAC64;
      &:hover, &:focus {
        background-color: #F7F7F9;
      }
    }
  }

  .page-item {
    &.active {
      .page-link {
        background-color: #CFAC64;
        border-color: #CFAC64;
        color: white;
      }
    }
  }
}
