<div class="row p-2">
  <% @categories.each do |primary_category, secondary_categories| %>
    <div class="col-4 mb-4">
      <h4 class="mb-3"><%= primary_category %></h4>
      <% secondary_categories.each do |category| %>
        <h6><%= link_to category, products_path(secondary_category: category) %></h6>
      <% end %>
    </div>
  <% end %>
</div>
