<div class="row">
  <div class="col-5 text-center">
    <% image_path = (@product.image_url) ? @product.image_url : 'placeholder.png' %>
    <%= image_tag image_path, width: 300 %>
  </div>
  <div class="col">
    <h4 class="mb-4"><%= @product.name %></h4>
    <h2>$7,895.65</h2>
    <span>by Shopify</span>
    <p class="mt-3"><%= @product.description %></p>
  </div>
</div>
<%= link_to 'Back', :back, class: 'btn btn-link float-right mt-2' %>
